.portal {
  &__header {
    @mixin box-shadow;
    background-color: #fff;
  }

  &__content {
    max-width: var(--portal-max-width);
    width: 100%;
    margin: 0 auto;
    padding: var(--spacing);

    & > * + * {
      margin-top: var(--spacing-half);
    }
  }
}
