.message {
  border: 1px solid currentColor;
  border-left-width: 6px;
  padding: 0.6rem;
  display: flex;
  align-items: flex-start;

  &__content {
    & + * + {
      margin-top: var(--spacing-half);
    }
  }

  &__icon {
    margin-right: 0.4em;
    font-size: 1.5rem;
  }

  @mixin desktop {
    padding: 0.8rem;
    &__icon {
      margin-right: 0.5em;
      font-size: 2rem;
    }
  }

  color: var(--c-blue-dark);
  &--error {
    color: var(--c-feedback-error);
  }
}
