button {
  /* reset */
}

.button {
  cursor: pointer;
  @mixin box-shadow;

  background-color: var(--c-gray-light);

  &:hover {
    background-color: var(--c-gray);
  }

  &:disabled {
    pointer-events: none;
    background-color: var(--c-gray-light);
  }

  &:focus {
    box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
  }

  &--bkg-red {
    background-color: var(--c-primary);
    color: #fff;

    &:hover {
      background-color: var(--c-primary-dark);
    }

    &:disabled {
      background-color: var(--c-primary-light);
    }
  }

  padding: 1em;

  &--has-text {
    padding: 1em 1.2em;
  }

  font-weight: bold;
  border-radius: 0.25rem;
  @mixin transition;
  display: flex;
  align-items: center;
  position: relative;

  &__text {
    display: inline-block;
    padding: 0 0.5em;
  }

  &--icon {
    .button__icon {
      transform: scale(1.2);

      svg {
        display: block;
      }
    }
  }

  &--has-text {
    .button__icon {
      transform: scale(1.2) translateX(10%);
    }
  }

  &--small {
    font-size: var(--fs-s);
  }

  &--round {
    border-radius: 1000px;
  }

  &--size-small {
    font-size: var(--fs-s);
  }

  &__loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    color: #fff;
    @mixin transition opacity;
    opacity: 0;

    &:after {
      width: 1.2rem !important;
      height: 1.2rem !important;
    }
  }

  &--loading {
    color: transparent;

    .button__loader {
      opacity: 1;
    }
  }

  &--type-none {
    padding: 0;
    background-color: transparent;
    box-shadow: none;
    color: var(--c-p);
    font-weight: normal;
    text-decoration: underline;

    &:hover {
      background-color: transparent;
    }

    .button {
      &__text {
        padding: 0;
      }
    }
  }
}
