.tickets-list-item {
  padding: var(--spacing);
  width: 100%;
  text-align: left;

  & + .tickets-list-item {
    border-top: 1px solid var(--c-gray);
  }

  &__date {
    color: var(--c-gray);
    font-size: var(--fs-s);
    font-weight: bold;
  }

  &__title {
    margin-top: var(--spacing-half);
  }

  &__code {
    width: 100% !important;
    height: auto !important;
    margin-bottom: var(--spacing-half);
  }
}
