.offline {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: var(--c-gray-dark);
  color: #fff;
  text-align: center;
  font-size: var(--fs-s);
  padding: 0.6em;
  will-change: transform;
  @mixin transition transform;
  transform: translateY(0);
  z-index: 9999;

  &[aria-hidden='true'] {
    transform: translateY(100%);
  }
}
