.choose-kanumber {
  & > * + * {
    margin-top: var(--spacing-page);
  }

  &__input {
    display: flex;
    align-items: center;
    position: relative;
    border-radius: var(--form-input-border-radius);
    border: 1px solid var(--c-gray-light);

    &--error {
      border-color: var(--c-feedback-error);
    }
  }

  &__input-prefix,
  &__input-number {
    border: none;
    padding: 0.8em 1em;
    outline: none;
    box-shadow: none;

    &:focus {
      box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
    }
  }

  &__input-prefix {
    width: 45px;
    border-top-left-radius: var(--form-input-border-radius);
    border-bottom-left-radius: var(--form-input-border-radius);
    padding: 0.8em 0.8em 0.8em 1em;
  }

  &__input-number {
    flex-grow: 1;
    border-top-right-radius: var(--form-input-border-radius);
    border-bottom-right-radius: var(--form-input-border-radius);
    padding: 0.8em 1em 0.8em 0.8em;
  }

  &__input-devider {
    margin: 0 0.2rem;
  }

  &__checked,
  &__loader {
    color: var(--c-gray-dark);
    opacity: 0;
    @mixin transition opacity;
    will-change: opacity;
    position: absolute;
    top: 50%;
    right: 0.5rem;
    transform: translateY(-50%);
  }

  &__loader {
    width: 1.5rem;
    height: 1.5rem;

    &--show {
      opacity: 1;
    }

    &:after {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  &__checked {
    font-size: 1.5rem;

    &--show {
      opacity: 1;
    }
  }
}
