.onboarding {
  &--welcome {
    text-align: center;
  }

  &__offline {
    & > * + * {
      margin-top: var(--spacing-big);
    }
  }

  &__content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 5vh;
  }

  &__progress {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    border-radius: 0;
    height: var(--footer-height);
    flex-direction: row-reverse;
    font-size: calc(var(--footer-height) / 3);

    .button__text {
      margin-right: auto;
    }

    &.button.button--has-text {
      padding: 1rem 2rem;

      .button__icon {
        transform: rotate(-90deg);
      }

      .button__text {
        padding: 0;
      }
    }
  }

  &__back {
    text-align: left;
    margin-top: 1em;
    color: var(--c-gray);

    .icon {
      margin-bottom: -0.1em;
    }
  }

  &__skip {
    align-self: flex-start;
  }
}
