.onboarding {
  &--welcome {
    text-align: center;
  }

  input {
    direction: ltr;
  }

  &__content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 5vh;
  }

  &__progress {
    display: flex;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    border-radius: 0;
    height: var(--footer-height);
    font-size: calc(var(--footer-height) / 3);

    button {
      flex: 1;
    }

    &.button.button--has-text {
      padding: 1rem 2rem;

      .button__icon {
        transform: rotate(-90deg);
      }

      .button__text {
        padding: 0;
      }
    }
  }
}

.progress-button {
  display: flex;
  justify-content: space-between;

  &--forward {
    .icon {
      transform: rotate(-90deg) scale(2);
      order:2;
    }
  }

  &--back {
    .icon {
      transform: rotate(90deg) scale(2);
    }
  }
}

