.app {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;

  &__login {
    max-width: 400px;
    padding-top: 10vh;
    width: 90%;
    align-self: center;
  }

  &__footer {
    margin-top: auto;
    align-self: center;
    padding: var(--spacing-half);
  }

  &__loader {
    margin-top: 10vh;
  }
}

/*
.app,
.app-login {
  background-color: #fff;
  border-radius: 0.25rem;
  //margin: 0 auto;
  @mixin box-shadow;
}

.app {
  max-width: 800px;
  width: 90%;
  margin-top: var(--spacing);
}

.app-loader {
  margin-top: 20vh;
}

.app-login {
  max-width: 400px;
  margin-top: 10vh;
  width: 90%;
  padding: var(--spacing);
}
*/
