.app,
.app-login {
  background-color: #fff;
  border-radius: 0.25rem;
  margin: 0 auto;
  @mixin box-shadow;
}

.app {
  max-width: 800px;
  width: 90%;
  margin-top: var(--spacing);
}

.app-loader {
  margin-top: 20vh;
}

.app-login {
  max-width: 400px;
  margin-top: 10vh;
  width: 90%;
  padding: var(--spacing);
}
