:root {
  --spacing: 1rem;
  --spacing-half: 0.5rem;
  --spacing-page: 2.2rem;

  --transition-speed: 200ms;

  --c-p: #1d1d1b;
  --c-p-light: #5a667a;
  --c-h: #000;
  --c-bkg: #e8eef6;

  --c-primary: #4299e1;
  --c-primary-dark: #2b6cb0;

  --c-feedback-error: #af1616;

  --c-gray: #b9b8b8;
  --c-gray-light: #f3f2f2;
  --c-gray-dark: #989898;

  --bp-phone: 330px;
  --bp-tablet: 600px;
  --bp-tablet-landscape: 900px;
  --bp-desktop: 1300px;

  @mixin desktop {
    --spacing: 1.6rem;
    --spacing-half: 0.8rem;
    --spacing-page: 3rem;
  }
}

body.no-outline {
  a,
  button {
    outline: none;
  }
}

@import 'styles/keyframes/spinner.css';
@import 'styles/reset.css';
@import 'styles/typography.css';
@import 'styles/document.css';
