:root {
  --spacing: 1rem;
  --spacing-half: 0.5rem;
  --spacing-page: 2.2rem;

  --transition-speed: 100ms;

  --c-p: #1d1d1b;
  --c-p-light: #5a667a;
  --c-h: #000;
  --c-bkg: #fff;

  --c-primary: #ce171f;
  --c-primary-dark: #a01217;

  --c-feedback-error: #af1616;

  --c-gray: #c7c8c9;
  --c-gray-light: #d4d5d6;
  --c-gray-dark: #989898;

  --app-max-width: 800px;
  --footer-height: 80px;

  --bp-phone: 330px;
  --bp-tablet: 600px;
  --bp-tablet-landscape: 900px;
  --bp-desktop: 1300px;

  @mixin desktop {
    --spacing: 1.6rem;
    --spacing-half: 0.8rem;
    --spacing-page: 3rem;
  }
}

body.no-outline {
  a,
  button {
    outline: none;
  }
}

@import 'styles/keyframes/spinner.css';
@import 'styles/reset.css';
@import 'styles/typography.css';
@import 'styles/document.css';
